.slide_element{
  padding: 20px 10px;
  background: black;
  list-style-type: none;
}
.slide_element.active{
  border-left: 5px solid #e44c65;
}
.slide_element > a{
  background: black !important;
  color: #fff !important;
  border: 0px !important;
  cursor: pointer !important;
  padding: 0px !important;
}
.user-img{
  width: 64px;
  height: 64px;
  margin: 30px auto;
  vertical-align: middle;
  display: block;
}
.nav-inverse:before, .nav-inverse:after {
    content: " ";
    display: table;
}
.nav-tabs.nav-stacked>li:hover::before, .nav-tabs.nav-stacked>li.active::before {
    background-color: #1ed760;
}
